.separator {
    padding: 1em 0;
}


.main-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 20px;
    padding-left: 15px;
    font-family: 'Courier New', Courier, monospace;
}

