<div class="container">
  <h3>Liste des frais</h3>
  
  <div class="form-inline mb-3">
    <input 
      type="text" 
      class="form-control mr-2" 
      placeholder="Nom du frais" 
      [(ngModel)]="newFrais.nom">
    <input 
      type="number" 
      class="form-control mr-2" 
      placeholder="Prix" 
      [(ngModel)]="newFrais.prix" 
      (focus)="clearPrice()" 
      (blur)="resetPrice()"
      min="0.01" 
      step="0.01">
    <button 
      class="btn btn-primary" 
      [disabled]="!isFormValid()" 
      (click)="addFrais()">
      Ajouter un nouveau frais
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nom du frais</th>
        <th>Prix</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let frais of fraisList">
        <td>{{ frais.nom }}</td>
        <td>{{ frais.prix | number:'1.0-0' }} TND</td>
        <td>
          <button 
            class="btn btn-warning btn-sm mr-2" 
            (click)="editFrais(frais)">
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button 
            class="btn btn-danger btn-sm" 
            (click)="deleteFrais(frais._id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noFrais>
    <p>Aucun frais disponible pour le moment.</p>
  </ng-template>
</div>
