.card-body {
  margin-top: 50px;
}
.mybutton {
  text-align: end;
  margin-bottom: 10px;
}

button {
  background: #1e90ff;
}
i.fas.fa-edit {
  background: green;
  padding: 15px;
  color: #fff;
}

i.fa.fa-trash {
  background: red;
  color: #fff;
  padding: 15px;
}
