 html,
 body {
     display: flex;
     flex-direction: column;
     height: 100%;
     margin: 0;
     padding: 0;
 }

 .container {
     border-radius: 5px;

 }

.main-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
    font-size: 30px;
    font-weight: bold;
    color: #216272;
}

.chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

.chat-history {
    overflow-y: auto;
    padding: 20px;
}

.message {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);}

.user-message {
    margin-top: 15px;
    align-self: flex-end;
    background-color: #51677e;
    color: #fff;
    max-width: 350px;
}

.bot-message {
        
    margin-top: 15px;
    align-self: flex-start;
    background-color: #758ea5;
    color: #fff;
    max-width: 450px;
}

.input-container {
    display: flex;
    align-items: center;
    padding-top: 150px;
}

.input-message,
.send-button {
    border-radius: 10px;
    border: 1px solid #7596b8;
    outline: none;
}
.loading-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    margin: 5px 0;
    font-style: italic;
    font-size: 14px;
    max-width: 70%;
    margin-top: 15px;
 
}
.input-message {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
}

.send-button {
    background-color: #618fc0;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    height: calc(100% - 2px);

}

.send-button:hover {
    background-color: #0056b3;
}

.send-button i {
    margin-right: 5px;
}