.notification-badge {
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 12px;
  margin-left: auto;
  display: inline-block;
  text-align: center;
  min-width: 10px;
}

.nav p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
