<div class="container">
  <h3>Liste des factures</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Référence</th>
        <th>Nom du client</th>
        <th>Montant après remise</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let facture of filteredFactures">
        <td>{{ facture.reference }}</td>
        <td>{{ facture.userName }}</td>
        <td>{{ facture.montantApresRemise | number:'1.0-0' }} TND</td>
        <td>
          <button class="btn btn-info btn-sm mr-2" (click)="showDetail(facture._id)">
            Afficher détails
          </button>
          <button class="btn btn-success btn-sm" (click)="downloadPDF(facture._id)">
            Télécharger PDF
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noFactures>
    <p>Aucune facture disponible pour le moment.</p>
  </ng-template>

  <div *ngIf="selectedFacture">
    <h3>Détails de la Facture</h3>
    <p>Référence: {{ selectedFacture.reference }}</p>
    <p>Client: {{ selectedFacture.userName }}</p>
    <p>Date: {{ selectedFacture.date | date }}</p>
    <p>Montant après remise: {{ selectedFacture.montantApresRemise }} TND</p>
    <p>Statut: {{ selectedFacture.statut }}</p>
  </div>

  <div *ngIf="qrCodeUrl" class="qr-code-container">
    <img [src]="qrCodeUrl" alt="QR Code">
    <button class="btn btn-secondary mt-2" (click)="qrCodeUrl = null">Fermer</button>
  </div>
</div>
