<div class="container">
  <h3>Liste des chèques</h3>

  <div class="filter-buttons">
    <button (click)="loadAllCheques()">Tous les chèques</button>
    <button (click)="loadNonPaidCheques()">Chèques dans le coffre</button>
  </div>
  
  
  <table class="table">
    <thead>
      <tr>
        <th>Référence</th>
        <th>Propriétaire</th>
        <th>Montant</th>
        <th>Échéance</th>
        <th>Statut</th>
        <th>Paiement</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cheque of cheques">
        <td>{{ cheque.reference }}</td>
        <td>{{ cheque.proprietaire }}</td>
        <td>{{ cheque.montant | currency }}</td>
        <td>{{ cheque.echeance | date }}</td>
        <td>{{ cheque.statut }}</td>
        <td>{{ cheque.paiement }}</td>
        <td>
          <button 
            class="btn btn-warning btn-sm mr-2" 
            (click)="editCheque(cheque)">
            <i class="fas fa-pencil-alt"></i> Modifier
          </button>
          <button 
            class="btn btn-danger btn-sm mr-2" 
            (click)="deleteCheque(cheque._id)">
            <i class="fas fa-trash-alt"></i> Supprimer
          </button>
          <button 
            class="btn btn-success btn-sm" 
            (click)="encashCheque(cheque)">
            <i class="fas fa-credit-card"></i> Encaisser
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #noCheques>
    <p>Aucun chèque disponible pour le moment.</p>
  </ng-template>
</div>
